@require '../common/variables'

$arrow-icon-width = 16px
$post-nav-max-width = 220px
$article-title-font-size = 3.2rem
$temp-toc-width = hexo-config('global.sidebar_width')
$toc-container-width = $temp-toc-width ? convert($temp-toc-width) : 210px
$without-toc-container-width = calc(100% - $temp-toc-width)
$gap = 30px

.post-page-container
  display flex
  justify-content center
  position relative
  width 100%

  +redefine-tablet()
    display block
    overflow-x hidden

  .article-content-container
    width 100%
    max-width $content-max-width
    redefine-container(
      false,
      0,
      0,
      0,
      30px
    )

    +redefine-mobile()
      padding 1.2rem 0.2rem
      box-shadow none !important
      max-width 100vw

    .article-header .avatar img
          border-radius: $redefine-border-radius-medium * 0.87
          width 100%
          height 100%
          // background var(--avatar-background-color)

    .article-header, .article-header-meta-info
      margin-top 32px
      margin-bottom 16px

      +redefine-tablet()
        transform scale(0.9)
        transform-origin left top

    .article-content
      margin-top $spacing-unit
      padding-bottom 10px
      word-wrap break-word
      border-bottom 1px solid var(--border-color)
      color var(--default-text-color)

      &>:first-child
        margin-top 0 !important

    .article-prev, .article-next

        a
          position relative
          display block
          width 100%
          height 100%
          box-sizing border-box

          &.prev
            padding-left $arrow-icon-width

          &.next
            padding-right $arrow-icon-width

          .arrow-icon
            position absolute
            top 0
            height 100%
            width $arrow-icon-width

            &.left
              left 0

            &.right
              right 0

          .title
            width 100%
            height 100%

      .post-nav-item
        display none

        +redefine-tablet()
          display inline-block

      .post-nav-title-item
        overflow hidden
        text-overflow ellipsis
        white-space nowrap

        +redefine-tablet()
          display none

    .recommended-article
      overflow visible !important

      .recommended-mobile
        display none
        +redefine-tablet()
          display block

      .recommended-desktop
        display block
        +redefine-tablet()
          display none

      .recommended-article-group
        padding 10px 0
        display flex
        justify-content space-between
        flex-wrap wrap
        overflow visible !important

        @media screen and (max-width $device-tablet)
          height 190px
          overflow scroll

          &::-webkit-scrollbar
            width 0 !important

          -ms-overflow-style none

        .recommended-article-item
          redefine-container(
            false,
            0,
            0,
            10px,
            0
          )
          box-shadow var(--redefine-box-shadow-flat)
          padding 12px !important
          display flex
          flex-wrap wrap
          align-content center
          justify-content center
          align-items center
          overflow hidden
          width 32%
          max-height 200px
          margin-top: $gap * 0.5
          margin-right 0

          +redefine-tablet()
            width 49%

          img
            display flex
            width calc(100% + 24px)
            height 150px
            object-fit cover
            border-radius $redefine-border-radius-medium-top
            margin -12px -12px 0 -12px !important

          span
            margin-top 0.5rem
            display block
            display -webkit-box
            -webkit-box-orient vertical
            -webkit-line-clamp 1
            overflow hidden

  .toc-wrapper-absolute
    position absolute
    top 0
    left 50%
    margin-left ($content-max-width / 2) + $gap
    height 100%
    width $toc-container-width
    
    +redefine-tablet()
      display none !important

  .toc-content-container
    position sticky
    top $navbar-height + $spacing-unit
    width 100%
    max-height calc(100vh - 210px)
    overflow-y auto
    overflow-x hidden
    padding 10px
    box-sizing border-box
    
    &:hover::-webkit-scrollbar-thumb
      border 3px solid rgba(183, 183, 183, 0.3)

    &::-webkit-scrollbar
      width 6px
      height 6px
      transition all 0.2s ease
      display block

    &::-webkit-scrollbar-track
      background transparent
      border none

    &::-webkit-scrollbar-thumb
      border-radius 20px
      border 3px solid rgba(183, 183, 183, 0)
      transition all 0.2s ease

    box-shadow none !important
    background transparent !important
    border none !important

    hover-style(
      false,
      0,
      0
    )

    +redefine-tablet()
      display none !important

  figure.image-caption
    img
      margin-bottom 0

    figcaption
      margin-top 5px
      margin-bottom 10px
      text-align center
      font-size 0.9rem
      color var(--third-text-color)

// 针对有封面图的标题
.article-title-cover
  font-family 'GlowSans-Extended', sans-serif !important 
  font-weight: 700

// 针对无封面图的标题 (常规)
.article-title-regular
  font-family 'ShuHei', sans-serif !important 
  font-weight: 700

.article-tags-categories-container
  display flex
  flex-wrap wrap
  gap 8px
  margin-top 12px

.article-category-item, .article-tag-item
  display flex
  align-items center
  padding 4px 10px
  border-radius 16px
  background var(--third-background-color)
  color var(--second-text-color)
  font-size 0.9em
  font-family GlowSans-Normal
  border 1px solid transparent
  transition all 0.2s ease
  
  &:hover
    background var(--second-background-color)
    transform translateY(-2px)
    box-shadow var(--redefine-deepest-shadow)

.article-category-item
  border 2px solid rgba(0, 0, 0, 0.1)
  
  &:hover
    background var(--primary-color)
    color #fff
    border-color var(--primary-color)

    i 
      color #fff