@font-face {
	font-family: 'ShuHei';
	src:
		url('AlimamaShuHeiTi-Bold.woff2') format('woff2'),
		url('AlimamaShuHeiTi-Bold.woff') format('woff');
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}