@font-face {
	font-family: 'GlowSans-Extended';
	src:
		url('GlowSansSC-Extended-medium.woff2') format('woff2'),
		url('GlowSansSC-Extended-medium.woff') format('woff'),
		url('GlowSansSC-Extended-medium.otf') format('otf');
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'GlowSans-Normal';
	src:
		url('GlowSansSC-Normal-Bold.woff2') format('woff2'),
		url('GlowSansSC-Normal-Bold.woff') format('woff'),
		url('GlowSansSC-Normal-Bold.otf') format('otf');
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'GlowSans-Compressed';
	src:
		url('GlowSansSC-Condensed-Bold.woff2') format('woff2'),
		url('GlowSansSC-Condensed-Bold.woff') format('woff'),
		url('GlowSansSC-Condensed-Bold.otf') format('otf');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}